@model PagedList.IPagedList<Model.Product>
@using PagedList.Mvc;
@{
	ViewBag.Title = "Index";
	Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
	@Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("Index", "Products", FormMethod.Get))
{
	<div class="row">
		<div class="col-md-4">
			<input type="text" name="searchString" value="@ViewBag.searchString" />
		</div>
		<div class="col-md-4">
			<button type="submit">Tìm kiếm</button>
		</div>
	</div>
}
<table class="table">
	<tr>
		<th>
			Category Name
		</th>
		<th>
			Product Name
		</th>
		<th>
			Slug
		</th>
		<th>
			Content
		</th>
		<th>
			Images
		</th>
		<th>
			Price
		</th>
		<th>
			Sale Price
		</th>
		<th>
			More Image
		</th>
		<th>
			Created
		</th>
		<th>
			ModifileDate
		</th>
		<th>
			Status
		</th>
		<th></th>
	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.Categorys.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Name)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Slug)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Content)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Images)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Sale_Price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.MoreImages)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Created)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.ModifileDate)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Status)
			</td>
			<td>
				@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
				@Html.ActionLink("Details", "Details", new { id = item.Id }) |
				@Html.ActionLink("Delete", "Delete", new { id = item.Id })
			</td>
		</tr>
	}

</table>
@Html.PagedListPager(Model, Page => Url.Action("Index", new { Page, @searchString = @ViewBag.searchString }))


