@model Model.Order
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
	var items = (List<Model.CartItem>)Session["CartSession"];
	double? TotalMoney = 0;
	double? currentTotal = 0;
	double? price;
}

<div class="space-custom"></div>
<!-- breadcrumb start -->
<div class="breadcrumb-area">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="#"><i class="fa fa-home"></i></a></li>
			<li><a href="#">Shop</a></li>
			<li class="active">Checkout</li>
		</ol>
	</div>
</div>
@if (Session["User"] == null)
{
<div class="alert alert-warning">
	<p style="text-align: center">Mời bạn đăng nhập để có thể đặt hàng</p>
	<a class="btn btn-primary" href="@Url.Action("Index","Login")">Đăng nhập</a>
</div>
	
	
}
else if (Session["CartSession"] == null)
{
	<div class="alert alert-warning">
		<p style="text-align: center">Giỏ hàng trống! Mời bạn chọn sản phẩm</p>
	</div>
	
}
else
{

	<!-- breadcrumb end -->
	<!-- coupon-area start -->
	<div class="coupon-area">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="coupon-accordion">
						<!-- ACCORDION START -->
						<h3>Returning customer? <span id="showlogin">Click here to login</span></h3>
						<div id="checkout-login" class="coupon-content">
							<div class="coupon-info">
								<p class="coupon-text">Quisque gravida turpis sit amet nulla posuere lacinia. Cras sed est sit amet ipsum luctus.</p>
								<form action="#" method="post">
									<p class="form-row-first">
										<label>Username or email <span class="required">*</span></label>
										<input type="text" />
									</p>
									<p class="form-row-last">
										<label>Password  <span class="required">*</span></label>
										<input type="text" />
									</p>
									<p class="form-row">
										<input type="submit" value="Login" />
										<label>
											<input type="checkbox" />
											Remember me
										</label>
									</p>
									<p class="lost-password">
										<a href="#">Lost your password?</a>
									</p>
								</form>
							</div>
						</div>
						<!-- ACCORDION END -->
						<!-- ACCORDION START -->
						<h3>Have a coupon? <span id="showcoupon">Click here to enter your code</span></h3>
						<div id="checkout_coupon" class="coupon-checkout-content">
							<div class="coupon-info">
								<form action="#">
									<p class="checkout-coupon">
										<input type="text" placeholder="Coupon code" />
										<input type="submit" value="Apply Coupon" />
									</p>
								</form>
							</div>
						</div>
						<!-- ACCORDION END -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- coupon-area end -->
	<!-- checkout-area start -->
	<div class="checkout-area">
		<div class="container">
			<div class="row">
				@using (Html.BeginForm()) 
				{
					<div class="col-lg-6 col-md-6">
						<div class="checkbox-form">
							<h3>Thông tin giao nhận hàng</h3>
							<div class="row">
								<input hidden name="User_ID" value="@ViewBag.User.UserId" />
								<div class="col-md-12">
									<div class="checkout-form-list">
										<label> Tên người nhận</label>
										<input type="text" name="Name" value="@ViewBag.User.FullName" placeholder="" />
										@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

									</div>
								</div>
								<div class="col-md-12">
									<div class="checkout-form-list">
										<label>Email</label>
										<input type="text" name="Email" value="@ViewBag.User.Email" placeholder="" />
										@Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

									</div>
								</div>
								<div class="col-md-12">
									<div class="checkout-form-list">
										<label>Số điện thoại</label>
										<input type="text" name="Phone" value="@ViewBag.User.Phone" placeholder="" />
										@Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
									</div>
								</div>
								<div class="col-md-12">
									<div class="checkout-form-list">
										<label>Địa chỉ <span class="required">*</span></label>
										<input type="text" name="Address" value="@ViewBag.User.Address" placeholder="Street address" />
										@Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })

									</div>
								</div>

								
							</div>

						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="your-order">
							<h3>Chi tiết đơn hàng</h3>
							<div class="your-order-table table-responsive">
								<table>
									<thead>
										<tr>
											<th class="product-name">Tên sản phẩm</th>
											<th class="product-name">Đơn giá</th>
											<th class="product-total">Hình ảnh</th>
											<th class="product-total">Tổng tiền</th>
										</tr>
									</thead>
									<tbody>

										@foreach (var item in items)
										{
											price = (item.Product.Price >  item.Product.Sale_Price) ? item.Product.Sale_Price : item.Product.Price;
											TotalMoney += (price * item.Quantity);
											currentTotal=(price * item.Quantity);
											
										<tr class="cart_item">
											<td class="product-name">
												@item.Product.Name <strong class="product-quantity"> × @item.Quantity</strong>
											</td>
											<td class="product-name">
												@price
											</td>
											<td class="product-name">
												<img style="width: 100px" src="@item.Product.Images" alt="Alternate Text" />
											</td>
											<td class="product-total">
												<span class="amount"> @currentTotal VND</span>
											</td>
										</tr>
										}
									</tbody>
									<tfoot>
										
										<tr class="order-total">
											<th>Tổng tiền đơn hàng</th>
											<td>
												<strong><span class="amount">@TotalMoney VND</span></strong>
											</td>
										</tr>
									</tfoot>
								</table>
							</div>
							<div class="payment-method">
								<div class="payment-accordion">
									<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingOne">
												<h4 class="panel-title">
													<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
														Direct Bank Transfer
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
												<div class="panel-body">
													<p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order won’t be shipped until the funds have cleared in our account.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingTwo">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
														Cheque Payment
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
												<div class="panel-body">
													<p>Please send your cheque to Store Name, Store Street, Store Town, Store State / County, Store Postcode.</p>
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab" id="headingThree">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
														PayPal
													</a>
												</h4>
											</div>
											<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
												<div class="panel-body">
													<p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.</p>
												</div>
											</div>
										</div>
									</div>
									<div class="order-button-payment">
										<input type="submit" value="Đặt hàng" />
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			</div>
		</div>
	</div>
	<!-- checkout-area end -->
	<!-- service-area start -->
	<div class="service-area pt-70 pb-40 gray-bg">
		<div class="container">
			<div class="row">
				<div class="col-md-3 col-sm-6">
					<div class="single-service mb-30">
						<div class="service-icon">
							<i class="pe-7s-world"></i>
						</div>
						<div class="service-title">
							<h3>FREE SHIPPING</h3>
							<p>Free shipping on all UK orders</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service mb-30">
						<div class="service-icon">
							<i class="pe-7s-refresh"></i>
						</div>
						<div class="service-title">
							<h3>FREE EXCHANGE</h3>
							<p>30 days return on all items</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service mb-30 sm-mrg">
						<div class="service-icon">
							<i class="pe-7s-headphones"></i>
						</div>
						<div class="service-title">
							<h3>PREMIUM SUPPORT</h3>
							<p>We support online 24 hours a day</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="single-service mb-30 xs-mrg sm-mrg">
						<div class="service-icon">
							<i class="pe-7s-gift"></i>
						</div>
						<div class="service-title">
							<h3>BLACK FRIDAY</h3>
							<p>Shocking discount on every friday</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- service-area end -->
	<!-- footer start -->
	<footer class="black-bg">
		<div class="footer-top-area ptb-60">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-4">
						<div class="footer-widget">
							<h3 class="footer-title">Contact info</h3>
							<div class="footer-contact">
								<ul>
									<li><em class="fa fa-map-marker"></em>Cầu Giấy <span>Hà Nội</span></li>
									<li><em class="fa fa-phone"></em>Telephones: 0985.846.554 <span></span></li>
									<li><em class="fa fa-envelope-o"></em>Email: support@posthemes.com</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-md-2 col-sm-4">
						<div class="footer-widget">
							<h3 class="footer-title">My account</h3>
							<ul class="block-content">
								<li><a href="#">My orders</a></li>
								<li><a href="#">My credit slips</a></li>
								<li><a href="#">Sitemap</a></li>
								<li><a href="#">My addresses</a></li>
								<li><a href="#">My personal info</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-sm-4">
						<div class="footer-widget">
							<h3 class="footer-title">Information</h3>
							<ul class="block-content">
								<li><a href="#">Contact us</a></li>
								<li><a href="#">Discount</a></li>
								<li><a href="#">Site map</a></li>
								<li><a href="#">About us</a></li>
								<li><a href="#">Custom service</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-2 col-sm-4 footer-sm">
						<div class="footer-widget">
							<h3 class="footer-title">OUR SERVICE</h3>
							<ul class="block-content">
								<li><a href="#">My orders</a></li>
								<li><a href="#">My credit slips</a></li>
								<li><a href="#">Sitemap</a></li>
								<li><a href="#">My addresses</a></li>
								<li><a href="#">My personal info</a></li>
							</ul>
						</div>
					</div>
					<div class="col-md-3 col-sm-4 footer-sm">
						<div class="footer-widget">
							<h3 class="footer-title">OPENING TIME</h3>
							<div class="footer-time">
								<p><span class="ft-content"><span class="day">Monday - Friday</span><span class="time">9:00 - 22:00</span></span></p>
								<p><span class="ft-content"><span class="day">Saturday</span><span class="time">10:00 - 24:00</span></span></p>
								<p><span class="ft-content"><span class="day">Sunday</span><span class="time">12:00 - 24:00</span></span></p>
								<p><span class="ft-content"><span class="day">Thursday</span><span class="time">Free Shipping</span></span></p>
								<p><span class="ft-content"><span class="day">Friday</span><span class="time">sale of 30%</span></span></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer-bootom-area start -->
		<div class="footer-bootom-area ptb-15">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<!-- <div class="copyright">
							<p>Copyright <a href="#">HasTech</a>. All Rights Reserved</p>
						</div> -->
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="payment">
							<img src="img/payment.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- footer-bootom-area end -->
	</footer>
	<!-- footer end -->
	<!-- Modal -->
	<div class="modal fade" id="productModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
				</div>
				<div class="modal-body">
					<div class="modal-img">
						<a href="shop.html"><img src="img/product/1.jpg" alt="" /></a>
					</div>
					<div class="modal-pro-content">
						<h3><a href="single-product.html">Phasellus Vel Hendrerit</a></h3>
						<div class="pro-rating">
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star"></i>
							<i class="fa fa-star-o"></i>
						</div>
						<span>(2 customer reviews)</span>
						<div class="price">
							<span>$70.00</span>
							<span class="old">$80.11</span>
						</div>
						<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet.</p>
						<form action="#">
							<input type="number" value="1" />
							<button>Add to cart</button>
						</form>
						<div class="product_meta">
							<span class="posted_in">Categories: <a rel="tag" href="#">Albums</a>, <a rel="tag" href="#">Music</a></span> <span class="tagged_as">Tags: <a rel="tag" href="#">Albums</a>, <a rel="tag" href="#">Music</a></span>
						</div>
						<div class="social">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-google-plus"></i></a>
							<a href="#"><i class="fa fa-instagram"></i></a>
							<a href="#"><i class="fa fa-pinterest"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Modal end -->
}

<!-- header end -->
