@model IEnumerable<Model.Slider>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="box">
	<h2 style="text-align:center">Managerment Slider</h2>
	<p>
		<a class="btn btn-primary" href="@Url.Action("Create")">Create New</a>
	</p>
	<div class="box-body">
		<table id="example1" class="table table-bordered table-hover">
			<thead>
				<tr>
					<th>
						@Html.DisplayNameFor(model => model.Images)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.DisplayOrder)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Link)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Description)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Status)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.Created)
					</th>
					<th>
						@Html.DisplayNameFor(model => model.ModifileDate)
					</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>
							@Html.DisplayFor(modelItem => item.Images)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.DisplayOrder)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Link)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Description)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Status)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.Created)
						</td>
						<td>
							@Html.DisplayFor(modelItem => item.ModifileDate)
						</td>
						<td>
							@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
							@Html.ActionLink("Details", "Details", new { id = item.ID }) |
							@Html.ActionLink("Delete", "Delete", new { id = item.ID })
						</td>
					</tr>
				}
			</tbody>
		</table>
		</div>
	</div>
